# PUBLIC FILES (WAJIB PALING ATAS)
[[redirects]]
  from = "/"
  to = "/index.html"
  status = 200
  force = true

[[redirects]]
  from = "/index.html"
  to = "/index.html"
  status = 200
  force = true

[[redirects]]
  from = "/api.js"
  to = "/api.js"
  status = 200
  force = true

[[redirects]]
  from = "/*.js"
  to = "/:splat"
  status = 200
  force = true